<div class="hero-container">
  <!-- Profile Image -->
  <img src="assets/profile.jpg" alt="Sumit Raj" class="profile-pic shadow-xl" />

  <!-- Text + Links -->
  <div>
    <h1 class="text-4xl font-extrabold text-gray-800 dark:text-white">Sumit Raj</h1>
    <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">
      Software Engineer | Java | Spring Boot | Angular | AWS
    </p>
      <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">
      Experience: 1 Year and 4 Months
    </p>

    <p class="mt-4 text-gray-700 dark:text-gray-200 max-w-xl leading-relaxed">
      Building scalable applications that touch millions - lets build with one line of code at a time.
    </p>

    <!-- Buttons / Links -->
    <div class="mt-6 flex flex-wrap items-center gap-3 text-sm font-medium">
      <a href="assets/sumit_resume.pdf" target="_blank" class="btn-primary">
        <i class="fa-solid fa-file-arrow-down"></i> Resume
      </a>
      <a href="mailto:sumitrajsky00@gmail.com" class="btn-primary">
        <i class="fa-solid fa-envelope"></i> Email
      </a>
      <a href="https://github.com/sumitraj786" target="_blank" class="btn-primary">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/sumit-raj-4b2357218" target="_blank" class="btn-primary">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://leetcode.com/sumitkumarsky015/" target="_blank" class="btn-primary">
        <i class="fa-solid fa-code"></i> LeetCode
      </a>
      <a href="https://www.naukri.com/code360/profile/sumitraj01" target="_blank" class="btn-primary">
        <i class="fa-solid fa-user-graduate"></i> Code360
      </a>
    </div>
  </div>
</div>
